<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title>生涯课堂</title>
  <link rel="stylesheet" type="text/css" href="../../../../css/api.css"/>
  <link rel="stylesheet" type="text/css" href="../../../../css/style.css"/>
  <link rel="stylesheet" type="text/css" href="../../../../css/aui.css"/>
  <script type="text/javascript" src="../../../../script/api.js"></script>
  <script type="text/javascript" src="../../../../script/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../../../../script/zhc-route.js"></script>
  <script type="text/javascript" src="../../../../script/aui-toast.js"></script>
  <script type="text/javascript" src="../../../../script/network.js"></script>
  <script src="../../../../script/doT.js"></script>
  <script src="../../../../script/demo.js"></script>
  <style>

  .top_img{
    width: 100%;
    height: 150px;
  }

  .left_line {
    background-color: #6666ff;
    height: 18px;
    width: 4px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .section_title {
    color: #333333;
    font-size: 18px;
    font-family: "PingFang-SC";
    margin-left: 4px;
    margin-top: auto;
    margin-bottom: auto;
  }
</style>
</head>
<body>
  <div id="sykt_div" class="flex-wrap flex-vertical"  >
    <script id="evaluationtmpl" type="text/x-dot-template">
      <img class="top_img" src="../../../../image/shengya.png"  >

      <div style="padding:10px;height:auto;background-color:white;display: inline-flex;">
        <div class="left_line"></div>
        <span class="section_title">{{=it.title1}}</span>
      </div>
      <ul class="aui-list aui-media-list">
        {{for (var i = 0; i < it.info1.length; i++) {}}

        <li class="aui-list-item" tapmode onclick="item1Click({{=i}})">
          <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media" style="border-right:none">
              <img style="border-radius:4px;" src="http://www.yxke12.com/Public/Home/images/student/{{=it.info1[i].image}}">
            </div>
            <div class="aui-list-item-inner">
              <div class="aui-list-item-text">
                <div class="aui-list-item-title">{{=it.info1[i].videoname}}</div>
              </div>
              {{if (it.info1[i].sample == null) {}}
              <div class="aui-list-item-text" style="display:none;">
                {{}else {}}
                <div class="aui-list-item-text" style="margin-top:8px;max-width: 10rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                  {{}}}
                  <!-- {{=it.info1[i].sample}}-->
                </div>
              </div>
            </div>
          </li>
          {{}}}
        </ul>
        <div style="background-color:#f5f5f5;width:100%;height:10px;"></div>
        <div style="padding-left:10px;padding-top:10px;padding-bottom:10px;height:auto;background-color:white;display: inline-flex;">
          <div class="left_line"></div>
          <span class="section_title">{{=it.title2}}</span>
        </div>
        <ul class="aui-list aui-media-list">
          {{for (var i = 0; i < it.info2.length; i++) {}}

          <li class="aui-list-item" tapmode onclick="item2Click({{=i}})">
            <div class="aui-media-list-item-inner">
              <div class="aui-list-item-media" style="border-right:none">
                <img style="border-radius:4px;" src="http://www.yxke12.com/Public/Home/images/student/{{=it.info2[i].image}}">
              </div>
              <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                  <div class="aui-list-item-title">{{=it.info2[i].videoname}}</div>
                </div>
              </div>
            </div>
          </li>
          {{}}}
        </ul>
        <div style="background-color:#f5f5f5;width:100%;height:10px;"></div>
        {{if (it.info3.length != 0) {}}
        <div style="padding-left:10px;padding-top:10px;padding-bottom:10px;height:auto;background-color:white;display: inline-flex;">
          <div class="left_line"></div>
          <span class="section_title">{{=it.title3}}</span>
        </div>
        {{}}}
        
        <ul class="aui-list aui-media-list">
          {{for (var i = 0; i < it.info3.length; i++) {}}
          <li class="aui-list-item" tapmode onclick="item3Click({{=i}})">
            <div class="aui-media-list-item-inner">
              <div class="aui-list-item-media" style="border-right:none">
                <img style="border-radius:4px;" src="http://www.yxke12.com/Public/Home/images/student/{{=it.info3[i].image}}">
              </div>
              <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                  <div class="aui-list-item-title">{{=it.info3[i].videoname}}</div>

                </div>
                {{if (it.info3[i].sample == null) {}}
                <div class="aui-list-item-text" style="display:none;">
                  {{}else {}}
                  <div class="aui-list-item-text" style="margin-top:8px;max-width: 10rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                    {{}}}
                    <!--{{=it.info3[i].sample}}-->
                  </div>
                </div>
              </div>
            </li>
            {{}}}
          </ul>
        </script>
      </div>
    </body>
    <script type="text/javascript">
      var toast = new auiToast({});
      var datas = "";
      window.onload = function(){
        getListData();
      }  

      function getListData() {
        var parames={};
        
        zhc.post('http://www.yxke12.com/index.php/App/Shengyaketang/lists.html',parames,function(data){
          datas = data;
          localStorage.data=JSON.stringify(data);
          var evalText = doT.template(document.getElementById('evaluationtmpl').innerHTML);
          document.getElementById('sykt_div').innerHTML = evalText(data);
        },null,true);
        
      }

      function item1Click(index) {
        if (!$api.getStorage('loginname')) {
          toast.fail({
              title: '该功能游客身份不能使用',
              duration: 2000
          });
          return
        }
        localStorage.data=JSON.stringify(datas.info1);
        rt.openPage('./kecheng_frm.html',{index: index});
      }


      function item2Click(index) {
        if (!$api.getStorage('loginname')) {
          toast.fail({
              title: '该功能游客身份不能使用',
              duration: 2000
          });
          return
        }
        localStorage.data=JSON.stringify(datas.info2);
        rt.openPage('./kecheng_frm.html',{index: index});
      }

      function item3Click(index) {
        if (!$api.getStorage('loginname')) {
          toast.fail({
              title: '该功能游客身份不能使用',
              duration: 2000
          });
          return
        }
        localStorage.data=JSON.stringify(datas.info3);
        rt.openPage('./kecheng_frm.html',{index: index});
      }
    </script>
    </html>
